<div class="tech-btm widget_social">
    <h4>Sosyal Medya Hesaplarımız</h4>
    <ul>

        <li>
            <a class="twitter" href="https://twitter.com/">
                <i class="fab fa-twitter"></i>
                <span class="count"></span> TWİTTER
            </a>
        </li>
        <li>
            <a class="facebook" href="https://tr-tr.facebook.com/">
                <i class="fab fa-facebook-f"></i>
                <span class="count"></span> FACEBOOK
            </a>
        </li>
        <li>
            <a class="dribble" href="https://www.linkedin.com/">
                <i class="fab fa-linkedin"></i>

                <span class="count"></span> LİNKEDİN
            </a>
        </li>
        <li>
            <a class="pin" href="https://github.com/">
                <i class="fab fa-github"></i>
                <span class="count"></span> GİTHUB
            </a>
        </li>

    </ul>
</div>