@{
    ViewData["Title"] = "home";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<br />
<div class="banner">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="carousel-caption">
                <h3>ANA SAYFA</h3>
                <h2>
                    HOŞ GELDİNİZ...
                </h2>
                <h1>~Büşra GÜLEÇ</h1>
                <div class="read">
                    <a href="/Blog/Index/" class="btn btn-primary read-m">BLOGLAR</a>
                </div>
            </div>
        </div>

    </div>
</div>


