<div class="tech-btm">
    <p>Yeni yazılarımdan haberdar olmak için ücretsiz abone olabilirsin...</p>
    <form action="/NewsLetter/SubscribeMail" method="post">
        <input type="email" placeholder="E-Posta" required="" name="Mail">
        <input type="submit" value="Abone Olun">
        <br />
    </form>

</div>