<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                @await Component.InvokeAsync("BlogLast3Post")
            </div>
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">

                <h2>Bloğumuza Abone Olmak İster Misiniz?</h2>
                @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")
            </div>
            <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
                <div class="tech-btm widget_social">
                    <h3>Sosyal Medya Hesaplarımız</h3>
                    <ul>
                        <li>
                            <a class="twitter" href="https://twitter.com/">
                                <i class="fab fa-twitter"></i>
                                <span class="count"></span> TWİTTER
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="https://tr-tr.facebook.com/">
                                <i class="fab fa-facebook-f"></i>
                                <span class="count"></span> FACEBOOK
                            </a>
                        </li>
                        <li>
                            <a class="dribble" href="https://www.linkedin.com/">
                                <i class="fab fa-linkedin"></i>

                                <span class="count"></span> LİNKEDİN
                            </a>
                        </li>
                        <li>
                            <a class="pin" href="https://github.com/">
                                <i class="fab fa-github"></i>
                                <span class="count"></span> GİTHUB
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-cpy text-center">
            <div class="footer-social">
                <div class="copyrighttop">
                    © @DateTime.Now.Year Asp.Net Core 5.0. Tüm Hakları Saklıdır.
                </div>
            </div>
            <div class="w3layouts-agile-copyrightbottom">
                <p>
                    Tarafından düzenlendi. @*Şu an ki yılı verir*@
                    <a href="https://www.linkedin.com/in/b%C3%BC%C5%9Fra-g%C3%BCle%C3%A7-3b5b28211/">Büşra Güleç</a>
                </p>
            </div>
        </div>
    </div>
</footer>